<h2>{{ nom }}</h2>
<label>Cave :</label>
{{ cave }}<br />
<label>Année : </label>
{{ annee }}<br />
<label>Couleur :</label>
{{ couleur }}<br />
<p><a {{ action goToVins href=true}} >Liste des vins</a></p>