<h3>Liste des vins 2</h3>
<ul>
{{#each vin in controller}}
    <li>
    	<a {{ action showVin vin href=true }}> {{vin.nom}} </a> ||
    	<a {{ action modifVin vin href=true }}> Modifier </a> 
    </li>
{{/each}}
</ul>
<a {{action gotoNewVin href=true}}>Ajouter un vin</a>
{{outlet}}